@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";


$primary-color: #482ff7;
$secondary-color: #fc5c9c;


body {
  background: #232229;
}

h1 {
    color: $secondary-color;
}